# Gradle / build
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Local configuration
local.properties
*.iml

# Android Studio / IDEA
.idea/
# Optional: if you want to keep shared settings, list specific files instead
# .idea/caches/
# .idea/libraries/
# .idea/modules.xml
# .idea/workspace.xml
# .idea/navEditor.xml
# .idea/assetWizardSettings.xml

# macOS
.DS_Store

# Service account credentials
app/assets/service_account.json